<div class="view-content jumbotron-narrow">
  <div class="jumbotron">
    <h1>Axon Checkers</h1>
    <p class="lead">
      <img src="images/checkers-board-iso.png" alt="w00t! Checkers!"><br>
      Don't you just love a good game of checkers? Yeah. We thought so. Log in now and experience the wonder and amazement of Axon Checkers!
    </p>
    <hr />
    <table>
      <tr>
        <td><p><label for="input-username">Tell us your name:</label><br /><input type="text" id="input-username" value="{{ player.name }}" ng-model="requestedName" ng-trim="true"></input></p></td>
        <td><p><a class="btn btn-success" ng-click="onEnterLobbyAction( $event )">Play Now!&nbsp;&nbsp;<span class="glyphicon glyphicon-play"></span></a></p></td>
      </tr>
    </table>
  </div>
  <div class="row marketing">
    <h4>Brilliant WebGL Graphics</h4>
    <p>
      We built this app with Three.js to bring you checkers in eye-popping, bleeding-edge, WebGL 3D graphics. This is checkers like you've never seen before. In your browser! I mean... Like... 3D in your browser. Checkers in your browser isn't really new.
    </p>
    <h4>Networked by Socket.IO</h4>
    <p>
      We're using some of the coolest new networking tech on the web to power this app so you can experience checkers with no latency. Bad ping will never interfere at a critical moment so you can jump enemy pieces like it's going out of style!
    </p>
    <h4>Made with Love</h4>
    <p>If, by love, you mean radioactive rocket fuel! I mean, doesn't checkers just drive you into a frenzy! ARGH! Get in there and bust out the kings! GO, GO, GO!!!</p>
  </div>
  <div class="footer">
    <p>&copy; Axon Interactive Inc., 2014</p>
  </div>
</div>